<main>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="section-title text-center">
      <h3>
        <span>Product Management </span>
        <br />
        <br />
        <span
          ><a
            type="button"
            class="btn btn-primary"
            data-bs-toggle="modal"
            data-bs-target="#ProductUploadModal"
            ><i class="zmdi zmdi-file-add"></i></a
        ></span>
        <div class="container">
          <input
            id="searchBar"
            class="searchbar searchTerm"
            name="searchTerm"
            type="text"
            placeholder="Search..."
            [(ngModel)]="searchTerm"
            (input)="search($event.target.value)"
          />
          <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
        </div>
      </h3>
    </div>

    <table *ngIf="result && result.length > 0" class="table table-striped">
      <thead>
        <tr>
          <!-- <th scope="col">#</th> -->
          <th scope="col">Name</th>
          <th scope="col">Price</th>
          <th scope="col">Category</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of result">
          <!-- <td scope="row">{{ i + 1 }}</td> -->
          <td>
            {{ item.name }}
          </td>
          <td>{{ item.price }}</td>
          <td>{{ item.category }}</td>
        </tr>
      </tbody>
    </table>
    <!-- <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="row">
        <div
          class="col-md-1 col-sm-12 col-xs-12"
          *ngFor="
            let item of [
              1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19,
              20
            ]
          "
          style="margin: 0px 5em 2em 0px"
        >
          <div class="product-item product-item-2 list-product">
            <div class="product-img">
              <a>
                <img
                  src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/e056f2085c1b5fe6902b0a5e86573793/3/0/x30_1.jpg.pagespeed.ic._8B_ECWiga.jpg"
                  alt=""
                />
              </a>
            </div>
            <div class="product-info">
              <h6 class="product-title">
                <a>N70</a>
              </h6>
              <h6 class="brand-name">Nokia</h6>
              <h3 class="pro-price">$ 869.00</h3>
            </div>
            <ul class="action-button">
              <li>
                <a
                  type="button"
                  class="btn btn-primary"
                  data-bs-toggle="modal"
                  data-bs-target="#QuickviewModal"
                  ><i class="zmdi zmdi-zoom-in"></i
                ></a>
              </li>
              <br />
            </ul>
          </div>
        </div>
      </div>
    </div> -->
    <ngx-datatable
      [rows]="rows"
      [columnMode]="ColumnMode.force"
      [headerHeight]="50"
      [footerHeight]="50"
      [scrollbarH]="true"
    >
      <ngx-datatable-column name="Name" prop="name" [width]="500">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Price" prop="price" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }} BDT
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Image" prop="productImage" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          <img
            src="{{ value }}"
            alt=""
            style="height: 50px; width: 50px; margin: 5px"
          />
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Category" prop="category" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column
        name="Sub Category"
        prop="subcategory"
        [width]="100"
      >
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="Posted On" prop="postedOn" [width]="100">
        <ng-template let-value="value" ngx-datatable-cell-template>
          {{ value }}
        </ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>
</main>
<!-- Quickview Modal -->
<div
  class="modal fade"
  id="QuickviewModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add a Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <img
                class="modal-image"
                src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/e056f2085c1b5fe6902b0a5e86573793/3/0/x30_1.jpg.pagespeed.ic._8B_ECWiga.jpg"
                alt=""
              />
            </div>
            <div class="col-md-6">
              <h3 class="modal-name">Product Name</h3>
              <p class="modal-price">Price</p>
              <p class="modal-desc">
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel
                animi quos debitis laborum illo quisquam voluptas, unde
                expedita, corporis impedit omnis quis velit minima iste dicta
                tempora reprehenderit. Quos, eaque!
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<!-- Upload Product Form -->
<div
  class="modal fade"
  id="ProductUploadModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title text-center"
          id="exampleModalLabel"
          style="color: var(--theme-color); font-size: 24px; font-weight: 500"
        >
          Add a Product
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="productForm">
          <!-- Product Image -->
          <div class="product-image" style="margin-bottom: 10px; border: none">
            <input
              class="form-control"
              type="file"
              formControlName="productImage"
              accept="image/*"
              (change)="selectImage($event)"
            />
          </div>
          <!-- Product Name -->
          <div class="product-title" style="margin-bottom: 15px">
            <input
              class="form-control"
              type="text"
              formControlName="name"
              placeholder="Enter Your Product Title"
            />
          </div>
          <!-- Product Category Selection Dropdown -->
          <div class="dropdown mt-10" style="margin-bottom: 15px">
            <select class="form-control" (change)="selectCategory($event)">
              <option value="">Select a Category</option>
              <option
                *ngFor="let category of categories"
                value="{{ category.categoryName }}"
              >
                <p class="text-muted">{{ category.categoryName }}</p>
              </option>
            </select>
          </div>
          <!-- Product Subcategory Selection Dropdown -->
          <div class="dropdown mt-10" style="margin-bottom: 15px">
            <select class="form-control" (change)="selectSubcategory($event)">
              <option value="">Select a Subcategory</option>

              <option *ngFor="let subcategory of subcategories">
                <p
                  *ngIf="subcategory.category == selectedcategory"
                  class="text-muted"
                >
                  {{ subcategory.subcategoryName }}
                </p>
              </option>
            </select>
          </div>
          <!-- Product Price -->
          <div class="product-price" style="margin-bottom: 15px">
            <input
              class="form-control"
              type="text"
              formControlName="price"
              placeholder="Enter Your Product Price"
            />
          </div>
          <!-- Product Description -->
          <div class="product-description" style="margin-bottom: 15px">
            <textarea
              class="form-control"
              name=""
              id=""
              cols="120"
              rows="5"
              formControlName="description"
              placeholder="Enter Your Product Description"
            ></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addProduct()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
