<nav class="navbar">
  <a href="#" class="navbar-logo"
    ><i class="material-icons">fastfood</i> ShopNow</a
  >
  <ul class="navbar-links">
    <li class="navbar-dropdown">
      <a href="#" class="primary-nav-item">Home</a>
    </li>
    <li class="navbar-dropdown">
      <a href="category" class="primary-nav-item">Categories</a>
      <div class="dropdown">
        <a href="category">Item</a>
        <a href="category">Item</a>
        <a href="category">Item</a>
        <a href="category">Item</a>
        <a href="category">Item</a>
        <a href="category">Item</a>
      </div>
    </li>
    <li class="navbar-dropdown">
      <a href="contact" class="primary-nav-item">Contact</a>
    </li>
    <li class="navbar-dropdown">
      <a href="about" class="primary-nav-item">About Us</a>
    </li>
    <li>
      <button
        *ngIf="currentUser"
        style="
          background-color: orange;
          color: rgb(49, 49, 49);
          margin-top: 20px;
        "
        (click)="logout()"
      >
        Logout
      </button>
    </li>
    <li>
      <button style="background-color: orange; color: rgb(49, 49, 49)">
        Admin Panel
      </button>
    </li>
  </ul>
</nav>
