<main>
  <div class="col-md-12 text-center">
    <p style="font-size: 20px">Hi friends</p>
    <h1 style="font-size: 60px">Contact Us</h1>
    <p style="line-height: 2em; font-size: 18px; margin: 0 0 24px">
      The most important part of improving at photography has been sharing it.
      Sign up for an Exposure account, or post regularly to Tumblr, or both.
      Tell people you’re trying to get better at photography. When you talk
      about it, other people get excited about it. There are few plugins and
      apps available for this purpose.
    </p>
  </div>
  <div class="col-md-12">
    <img
      src="https://mageblueskytech.com/dukamarket/media/wysiwyg/cotact-banner.jpg"
      alt=""
      style="width: 100%; height: auto; margin-bottom: 5em"
    />
  </div>
  <div class="col-md-12 text-center">
    <p style="font-size: 20px">We are ADDIITS</p>
    <h1 style="font-size: 60px">Contact Us For Any Queries</h1>
    <p style="line-height: 2em; font-size: 15px; margin: 0 0 24px">
      The most important part of improving at photography has been sharing it.
      Sign up for an Exposure account, or post regularly to Tumblr, or both.
      Tell people you’re trying to get better at photography. When you talk
      about it, other people get excited about it. There are few plugins and
      apps available for this purpose.
    </p>
  </div>
  <div class="col-md-12" style="padding: 0 10em 0 10em">
    <div class="row">
      <div
        class="col-md-3"
        style="margin-top: 1em"
        *ngFor="let item of [1, 2, 3, 4]"
      >
        <img
          src="https://mageblueskytech.com/dukamarket/media/wysiwyg/contact-us-1.jpg"
          alt=""
          style="max-width: 360px; height: 227px; border-radius: 5px"
        />

        <div
          class="store-info"
          style="
            margin: 20px 0px 5px;
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            border-bottom: 1px solid #ccc;
          "
        >
          <img
            src="https://cdn.britannica.com/67/6267-004-10A21DF0/Flag-Bangladesh.jpg"
            alt=""
            style="
              width: 50px;
              max-height: 30px;
              line-height: 0;
              border-radius: 5px;
            "
          />
          <div class="company" style="margin-top: 8px">
            <p style="font-size: 14px; line-height: 0">ADDIITS</p>
            <h3 style="font-size: 14px; line-height: 0">Bangladesh</h3>
          </div>
        </div>

        <p style="margin-top: 1em">Address: Bashundhara r/a, Dhaka</p>
        <p>Phone: 019229929299</p>
        <p>Email : addiits@contact.com</p>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="margin-top: 5em">
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin"
      style="border: 0; width: 100%; height: 400px"
      class="rounded"
      allowfullscreen
    ></iframe>
  </div>
  <div class="col-md-12" style="margin-top: 5em">
    <div class="row">
      <!-- FAQ -->
      <div class="col-md-6">
        <div class="col-md-12">
          <p style="font-size: 18px">Information Questions</p>
          <h2 style="font-size: 30px">Frequently Asked Question</h2>
        </div>
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseOne"
                aria-expanded="false"
                aria-controls="flush-collapseOne"
              >
                Accordion Item #1
              </button>
            </h2>
            <div
              id="flush-collapseOne"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the
                first item's accordion body.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseTwo"
                aria-expanded="false"
                aria-controls="flush-collapseTwo"
              >
                Accordion Item #2
              </button>
            </h2>
            <div
              id="flush-collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the
                second item's accordion body. Let's imagine this being filled
                with some actual content.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#flush-collapseThree"
                aria-expanded="false"
                aria-controls="flush-collapseThree"
              >
                Accordion Item #3
              </button>
            </h2>
            <div
              id="flush-collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#accordionFlushExample"
            >
              <div class="accordion-body">
                Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the
                third item's accordion body. Nothing more exciting happening
                here in terms of content, but just filling up the space to make
                it look, at least at first glance, a bit more representative of
                how this would look in a real-world application.
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Form -->
      <div class="col-md-6">
        <div class="col-md-12">
          <p style="font-size: 18px">Information Questions</p>
          <h2 style="font-size: 30px">CONTACT US FOR ANY QUERIES</h2>
          <form class="">
            <div class="row">
              <!--end col-->
              <div class="col-md-12" style="margin-bottom: 2em">
                <div class="form-group position-relative">
                  <!-- <label>Your Email <span class="text-danger">*</span></label> -->
                  <i data-feather="mail" class="fea icon-sm icons"></i>
                  <input
                    name="email"
                    id="email"
                    type="email"
                    class="form-control pl-5"
                    placeholder="example@email.com "
                  />
                </div>
              </div>
              <!--end col-->
              <div class="col-md-12" style="margin-bottom: 2em">
                <div class="form-group position-relative">
                  <!-- <label
                    >Your Phone number <span class="text-danger">*</span></label
                  > -->
                  <i data-feather="mail" class="fea icon-sm icons"></i>
                  <input
                    name="phone"
                    id="phone"
                    type="tel"
                    class="form-control pl-5"
                    placeholder="ex : +8801723303039"
                    pattern="[0-9]{3}-[0-9]{2}-[0-9]{3}"
                  />
                </div>
              </div>

              <!--end col-->
              <div class="col-md-12" style="margin-bottom: 2em">
                <div class="form-group position-relative">
                  <!-- <label>Comments</label> -->
                  <i
                    data-feather="message-circle"
                    class="fea icon-sm icons"
                  ></i>
                  <textarea
                    name="comments"
                    id="comments"
                    rows="4"
                    class="form-control pl-5"
                    placeholder="Enter your message "
                  ></textarea>
                </div>
              </div>
            </div>
            <!--end row-->
            <div class="row">
              <div class="col-sm-12">
                <input
                  type="submit"
                  id="submit"
                  name="send"
                  class="btn btn-primary"
                  value="Send Message"
                  style="background-color: var(--theme-color); border: none"
                />
              </div>
              <!--end col-->
            </div>
            <!--end row-->
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
