<div
  class="col-md-12 top-banner"
  style="
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  "
>
  <h3 style="font-size: 60px; color: white">ABOUT US</h3>
  <p
    style="
      font-size: 18px;
      color: white;
      line-break: anywhere;
      text-align: center;
      line-height: 1.5em;
    "
  >
    A wonderful serenity has taken possession of my entire soul, <br />
    like these sweet mornings of spring which I enjoy with my whole heart
  </p>
  <div>
    <button class="view" style="">View More</button>

    <button class="project" style="">See Project</button>
  </div>
</div>
<main>
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-8">
        <h6 style="font-size: 36px; margin-top: 3em">
          Hello <br />
          <strong>With 25+years experience</strong>
        </h6>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium
          culpa possimus illo minima explicabo! Aliquid veritatis possimus quasi
          qui necessitatibus, natus obcaecati quia eveniet exercitationem nulla
          dolores doloribus quae laboriosam! Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Debitis, veritatis? Quidem vel aliquid
          quas perspiciatis quis possimus vero incidunt quia est consectetur at,
          esse sequi itaque ratione a asperiores ullam. Lorem ipsum dolor sit,
          amet consectetur adipisicing elit. Commodi blanditiis eveniet ipsa.
          Recusandae numquam assumenda ea, magni, exercitationem modi nisi omnis
          asperiores explicabo nam, natus voluptatem? Tempore eaque quaerat
          distinctio?
        </p>
      </div>
      <div class="col-md-4">
        <img
          src="https://mageblueskytech.com/dukamarket/media/wysiwyg/xbanner-about-us1_1.png.pagespeed.ic.gxGTESWmMy.webp"
          alt=""
          style="width: 100%; max-height: 560px"
        />
      </div>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <h2 style="font-size: 36px; font-weight: 600">Meet Our Team</h2>
    <p style="">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quod est
      reiciendis, odio tempore mollitia hic suscipit natus sunt consectetur ipsa
    </p>
  </div>
  <div class="col-md-12" style="padding: 0px 15em 0px 15em; margin-top: 3em">
    <div class="row">
      <div class="col-md-4 text-center" *ngFor="let item of [1, 2, 3]">
        <img
          src="https://mageblueskytech.com/dukamarket/media/wysiwyg/xteam1.png.pagespeed.ic.15XmXWkbaa.webp"
          alt=""
          style="width: 260px; max-height: 260px"
        />
        <div style="margin-top: 1em">
          <h5 style="line-height: 0">JOHN DOE</h5>
          <p style="line-height: 0; margin-bottom: 2em">CEO & Pounder</p>
          <p>
            Sed ut perspiciatis unde omnis iste natus error sitaccusantium
            doloremque
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12" style="padding: 0 10em 0 10em; margin-top: 3em">
    <div class="row">
      <div
        class="col-md-3"
        style="margin-top: 1em"
        *ngFor="let item of [1, 2, 3, 4]"
      >
        <img
          src="https://mageblueskytech.com/dukamarket/media/wysiwyg/4.jpg"
          alt=""
          style="max-width: 360px; height: 227px; border-radius: 5px"
        />

        <div
          class="store-info"
          style="
            margin: 20px 0px 5px;
            display: flex;
            flex-wrap: wrap;
            gap: 1em;
            border-bottom: 1px solid #ccc;
          "
        >
          <img
            src="https://cdn.britannica.com/67/6267-004-10A21DF0/Flag-Bangladesh.jpg"
            alt=""
            style="
              width: 50px;
              max-height: 30px;
              line-height: 0;
              border-radius: 5px;
            "
          />
          <div class="company" style="margin-top: 8px">
            <p style="font-size: 14px; line-height: 0">ADDIITS</p>
            <h3 style="font-size: 14px; line-height: 0">Bangladesh</h3>
          </div>
        </div>

        <p style="margin-top: 1em">Address: Bashundhara r/a, Dhaka</p>
        <p>Phone: 019229929299</p>
        <p>Email : addiits@contact.com</p>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
</main>
