<main>
  <div class="col-md-12 col-sm-12 col-xs-12 auth-body" id="auth-body">
    <div id="signin">
      <form [formGroup]="signInForm">
        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control"
            id="signinemail"
            placeholder="name@example.com"
            formControlName="email"
          />
          <label for="signinemail" style="color: var(--white-color)"
            >Email address</label
          >
        </div>
        <div class="form-floating">
          <input
            type="password"
            class="form-control"
            id="signinpw"
            placeholder="Password"
            formControlName="password"
          />
          <label for="signinpw" style="color: var(--white-color)"
            >Password</label
          >
        </div>
      </form>
      <br />

      <a
        data-toggle="modal"
        data-target="#reviewModal"
        style="
          color: grey;
          text-decoration: none;
          cursor: pointer;
          font-size: 12px;
        "
        >Forgot Password</a
      >
      <br />
      <br />
      <button
        class="btn btn-outline-theme signin-btn"
        style="width: 100%; box-shadow: none"
        (click)="signin()"
      >
        Sign In
      </button>
      <br />
      <br />
      <div class="row">
        <div class="col-5"><hr /></div>
        <div class="col-2" style="text-align: center; margin-top: 15px">
          <h3>OR</h3>
        </div>
        <div class="col-5"><hr /></div>
      </div>
      <br />

      <div class="btn-group" style="width: 100%; border-radius: 10px">
        <button
          class="btn"
          style="background-color: #3b5998; box-shadow: none"
          (click)="signInWithFacebook()"
        >
          <i class="fa fa-facebook" style="color: white"></i>
        </button>
        <button class="btn fb-btn" style="" (click)="signInWithFacebook()">
          Sign in with <strong>Facebook</strong>
        </button>
      </div>

      <br />
      <br />

      <div class="btn-group" style="width: 100%; border-radius: 10px">
        <button
          class="btn"
          style="background-color: #db4437; box-shadow: none"
          (click)="signInWithGoogle()"
        >
          <i class="fa fa-google" style="color: white"></i>
        </button>
        <button class="btn gl-btn" (click)="signInWithGoogle()">
          Sign in with <strong>Google</strong>
        </button>
      </div>
      <br />
      <br />
      <div class="row">
        <div class="col-5"><hr /></div>
        <div class="col-2" style="text-align: center; margin-top: 15px">
          <h3>OR</h3>
        </div>
        <div class="col-5"><hr /></div>
      </div>
      <br />
      <button
        class="btn btn-outline-secondary"
        style="width: 100%; box-shadow: none; border-radius: 10px"
        (click)="switch()"
      >
        Sign Up
      </button>

      <br />
      <br />
    </div>
  </div>
</main>
