<main>
  <!-- Carousel & Banner Poster -->
  <div class="col-md-12">
    <div class="row">
      <!-- Slider Portion -->
      <div class="col-md-7 col-sm-12 col-xs-12">
        <ngb-carousel
          #carousel
          [interval]="3000"
          [pauseOnHover]="pauseOnHover"
          [pauseOnFocus]="pauseOnFocus"
          (slide)="onSlide($event)"
        >
          <ng-template class="" ngbSlide *ngFor="let img of images; index as i">
            <div class="carousel-caption">
              <h3>My slide {{ i + 1 }} title</h3>
            </div>
            <a
              href="https://www.google.fr/?q=Number+{{ i + 1 }}"
              target="_blank"
              rel="nofollow noopener noreferrer"
            >
              <div class="picsum-img-wrapper">
                <img [src]="img" alt="My image {{ i + 1 }} description" />
              </div>
            </a>
          </ng-template>
        </ngb-carousel>
      </div>
      <!-- Banner Portion -->
      <div class="col-md-5 col-sm-12 col-xs-12">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12 banner-poster">
              <div class="banner-poster-content">
                <span>
                  <h3>Canyon Star Raider</h3>
                  <p>Headphone & Audio</p>
                </span>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 banner-poster">
              <div class="banner-poster-content">
                <span>
                  <h3>Canyon Star Raider</h3>
                  <p>Headphone & Audio</p>
                </span>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 banner-poster">
              <div class="banner-poster-content">
                <span>
                  <h3>Canyon Star Raider</h3>
                  <p>Headphone & Audio</p>
                </span>
              </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 banner-poster">
              <div class="banner-poster-content">
                <span>
                  <h3>Canyon Star Raider</h3>
                  <p>Headphone & Audio</p>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Carousel & Banner Poster ends -->

  <!-- Hot Trending Products -->

  <div class="section-title">
    <h3>
      <span>Hot Trending Products</span>
    </h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div
        class="col-md-1 col-sm-12 col-xs-12"
        *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"
        style="margin: 0px 5em 2em 0px"
      >
        <div class="product-item product-item-2 list-product">
          <div class="product-img">
            <a>
              <img
                src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/e056f2085c1b5fe6902b0a5e86573793/3/0/x30_1.jpg.pagespeed.ic._8B_ECWiga.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="product-info">
            <h6 class="product-title">
              <a>N70</a>
            </h6>
            <h6 class="brand-name">Nokia</h6>
            <h3 class="pro-price">$ 869.00</h3>
          </div>
          <ul class="action-button">
            <li>
              <a
                href=""
                data-toggle="modal"
                data-target="#productModal"
                title="Quickview"
                ><i class="zmdi zmdi-zoom-in"></i
              ></a>
            </li>
            <br />
            <li>
              <button class="cart-button">ADD TO CART</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Hot Trending Products Ends -->
  <br />
  <br />
  <!-- Popular Categories -->
  <div class="section-title">
    <h3>
      <span>Popular Categories</span>
    </h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div
        class="col-md-2 col-xs-12 col-sm-12"
        *ngFor="let item of [1, 2, 3, 4, 5, 6]"
      >
        <div class="category-poster">
          <div class="category-info">
            <span>
              <h3 class="category-title">Top Selling Products</h3>
              <p class="item-count">10 items available</p>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Popular Categories Ends -->
  <br />
  <br />
  <!-- Flash Deals -->

  <div class="section-title">
    <h3>
      <span> Flash Deals </span>
    </h3>
  </div>
  <div class="col-md-12" style="margin-bottom: 50px">
    <div class="row">
      <div class="col md-6 flash-poster">
        <div class="row">
          <div class="col-md-5" style="padding: 0">
            <img
              src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/b4a559eee0d025702b27a3241d33543d/4/_/x4_1_1.jpg.pagespeed.ic.a0zmHKt3SM.webp"
              alt=""
            />
          </div>
          <div class="col-md-7">
            <span>
              <h3 class="product-title">Good Headphone</h3>
              <p class="product-price">BDT2000</p>
              <p class="product-detail">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                in sed assumenda sapiente sint possimus veritatis officia
                distinctio provident porro laboriosam dicta natus necessitatibus
                est quia tempora repellendus, ab hic.
              </p>
              <br />
              <button class="cart-button">ADD TO CART</button>
            </span>
          </div>
        </div>
      </div>
      <div class="col md-6 flash-poster">
        <div class="row">
          <div class="col-md-5" style="padding: 0">
            <img
              src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/b4a559eee0d025702b27a3241d33543d/4/_/x4_1_1.jpg.pagespeed.ic.a0zmHKt3SM.webp"
              alt=""
            />
          </div>
          <div class="col-md-7">
            <span>
              <h3 class="product-title">Good Headphone</h3>
              <p class="product-price">BDT2000</p>
              <p class="product-detail">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                in sed assumenda sapiente sint possimus veritatis officia
                distinctio provident porro laboriosam dicta natus necessitatibus
                est quia tempora repellendus, ab hic.
              </p>
              <br />
              <button class="cart-button">ADD TO CART</button>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- large flash poster -->
  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-bottom: 100px">
    <div class="row">
      <div class="col-md-4 col-sm-12 col-xs-12" *ngFor="let item of [1, 2, 3]">
        <div class="flash-poster-large">
          <span>
            <h3 class="flash-title">Microsoft Surface Laptop 14"</h3>
            <p class="sale">Up tp 30%</p>
          </span>
        </div>
      </div>
    </div>
  </div>
  <!-- Flash Deals Ends-->

  <!-- Top Featured Product  -->
  <div class="section-title">
    <h3>
      <span> Top Featured Products</span>
    </h3>
  </div>

  <div class="col-md-12" style="margin-bottom: 100px">
    <div class="row">
      <div class="col md-5 flash-poster">
        <div class="row">
          <div class="col-md-5" style="padding: 0">
            <img
              src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/b4a559eee0d025702b27a3241d33543d/4/_/x4_1_1.jpg.pagespeed.ic.a0zmHKt3SM.webp"
              alt=""
            />
          </div>
          <div class="col-md-7">
            <span>
              <h3 class="product-title">Good Headphone</h3>
              <p class="product-price">BDT2000</p>
              <p class="product-detail">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus
                in sed assumenda sapiente sint possimus veritatis officia
                distinctio provident porro laboriosam dicta natus necessitatibus
                est quia tempora repellendus, ab hic.
              </p>
              <br />
              <button class="cart-button">ADD TO CART</button>
            </span>
          </div>
        </div>
      </div>
      <div class="col md-7" style="padding: 0">
        <div class="row">
          <div
            class="col-md-4"
            *ngFor="let item of [1, 2, 3]"
            style="margin: 0px 0px 10px 0px"
          >
            <div class="flash-poster-small">
              <div class="row">
                <div class="col-md-6">
                  <img
                    src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/c6954f6b4decd5efcd20abe057a6ba2a/3/0/x30_1.jpg.pagespeed.ic.DvXUcPo9_o.jpg"
                    alt=""
                  />
                </div>
                <div class="col-md-6">
                  <h6 class="product-title">Xiaomi Phone</h6>
                  <p class="product-price">BDT 24000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-md-4"
            *ngFor="let item of [1, 2, 3]"
            style="margin: 0px 0px 0px 0px"
          >
            <div class="flash-poster-small">
              <div class="row">
                <div class="col-md-6">
                  <img
                    src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/c6954f6b4decd5efcd20abe057a6ba2a/3/0/x30_1.jpg.pagespeed.ic.DvXUcPo9_o.jpg"
                    alt=""
                  />
                </div>
                <div class="col-md-6">
                  <h6 class="product-title">Xiaomi Phone</h6>
                  <p class="product-price">BDT 24000</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Top Featured Product Ends -->
  <!-- Recommended For You -->

  <div class="section-title">
    <h3>
      <span>Recommended For You</span>
    </h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 100px">
    <div class="row">
      <div
        class="col-md-1 col-sm-12 col-xs-12"
        *ngFor="let item of [1, 2, 3, 4, 5, 6, 7, 8]"
        style="margin: 0px 5em 2em 0px"
      >
        <div class="product-item product-item-2 list-product">
          <div class="product-img">
            <a>
              <img
                src="https://mageblueskytech.com/dukamarket/media/catalog/product/cache/e056f2085c1b5fe6902b0a5e86573793/3/0/x30_1.jpg.pagespeed.ic._8B_ECWiga.jpg"
                alt=""
              />
            </a>
          </div>
          <div class="product-info">
            <h6 class="product-title">
              <a>N70 128 GB waterproof</a>
            </h6>
            <h6 class="brand-name">Nokia</h6>
            <h3 class="pro-price">$ 869.00</h3>
          </div>
          <ul class="action-button">
            <li>
              <a
                href=""
                data-toggle="modal"
                data-target="#productModal"
                title="Quickview"
                ><i class="zmdi zmdi-zoom-in"></i
              ></a>
            </li>
            <br />
            <li>
              <button class="cart-button">ADD TO CART</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Recommended For You Ends -->

  <!-- From the blog -->
  <div class="section-title">
    <h3>
      <span>From the Blog</span>
    </h3>
  </div>
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="row">
      <div
        class="col-md-2 col-sm-12 col-xs-12"
        *ngFor="let item of [1, 2, 3, 4, 5, 6]"
      >
        <div class="blog" style="margin-right: 10px">
          <div class="col-md-12 blog-img">
            <button class="blog-category">Audio</button>
          </div>

          <div class="blog-content" style="padding: 15px">
            <h3 class="blog-title">Blog Title</h3>
            <p class="blog-description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa
              dolorum ad aliquam dolores deserunt, esse aliquid animi odio
              debitis cumque sapiente aut ullam libero inventore modi, saepe
              magnam est nisi!
            </p>
          </div>
          <div
            class="post-bottom"
            style="padding: 20px 5px 5px 5px; border-top: 1px solid #ccc"
          >
            <button
              style="
                background-color: transparent;
                border: none;
                font-size: 16px;
                font-weight: 500;
              "
            >
              Read More
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <br />
  <br />
  <br />
</main>
