<main>
  <div class="section-title text-center">
    <h3>
      <span> Category Management </span>
      <br />
      <br />
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-6" style="text-align: left">
            <a
              type="button"
              class="file-button"
              data-bs-toggle="modal"
              data-bs-target="#ProductUploadModal"
              ><i class="zmdi zmdi-file-add"></i
            ></a>
          </div>

          <div class="search-container col-md-6" style="">
            <input
              id="searchBar"
              class="searchbar searchTerm"
              name="searchTerm"
              type="text"
              placeholder="Search..."
              [(ngModel)]="searchTerm_cat"
              (input)="searchCat($event.target.value)"
            />
            <a id="btnSearch" class="btn-search"
              ><i class="fa fa-search"></i
            ></a>
          </div>
        </div>
      </div>
    </h3>
  </div>
  <ngx-datatable
    [rows]="result_cat"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    [scrollbarH]="true"
  >
    <ngx-datatable-column name="Category" prop="categoryName" [width]="300">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value }}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Category Image"
      prop="categoryLogo"
      [width]="300"
    >
      <ng-template let-value="value" ngx-datatable-cell-template>
        <img
          src="{{ value }}"
          alt=""
          style="height: 50px; width: 50px; margin: 5px"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Posted On" prop="postedOn" [width]="300">
    </ngx-datatable-column>
  </ngx-datatable>

  <!-- Sub Cat  -->
  <div class="section-title text-center">
    <br />
    <br />
    <div class="section-title text-center">
      <h3>
        <span>All Sub Categories</span>
        <br />
        <br />
      </h3>
    </div>

    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6" style="text-align: left">
          <a
            type="button"
            class="file-button"
            data-bs-toggle="modal"
            data-bs-target="#ProductUploadModal"
            ><i class="zmdi zmdi-file-add"></i
          ></a>
        </div>

        <div class="search-container col-md-6" style="">
          <input
            id="searchBar"
            class="searchbar searchTerm"
            name="searchTerm"
            type="text"
            placeholder="Search..."
            [(ngModel)]="searchTerm_sub"
            (input)="searchSub($event.target.value)"
          />
          <a id="btnSearch" class="btn-search"><i class="fa fa-search"></i></a>
        </div>
      </div>
    </div>
  </div>
  <ngx-datatable
    [rows]="result_sub"
    [columnMode]="ColumnMode.force"
    [headerHeight]="50"
    [footerHeight]="50"
    [scrollbarH]="true"
  >
    <ngx-datatable-column name="Category" prop="subcategoryName" [width]="300">
      <ng-template let-value="value" ngx-datatable-cell-template>
        <strong>{{ value }}</strong>
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column
      name="Category Image"
      prop="subcategoryLogo"
      [width]="300"
    >
      <ng-template let-value="value" ngx-datatable-cell-template>
        <img
          src="{{ value }}"
          alt=""
          style="height: 50px; width: 50px; margin: 5px"
        />
      </ng-template>
    </ngx-datatable-column>
    <ngx-datatable-column name="Posted On" prop="postedOn" [width]="300">
    </ngx-datatable-column>
  </ngx-datatable>
</main>

<!-- Category Modal -->
<div
  class="modal fade"
  id="CategoryUploadModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title text-center"
          id="exampleModalLabel"
          style="color: var(--theme-color); font-size: 24px; font-weight: 500"
        >
          Add a Category
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="categoryForm">
          <div class="category-image" style="margin-bottom: 10px; border: none">
            <input
              class="form-control"
              type="file"
              formControlName="categoryImage"
              accept="image/*"
              (change)="selectImage($event)"
            />
          </div>
          <div class="category-title" style="margin-bottom: 15px">
            <input
              class="form-control"
              type="text"
              formControlName="categoryName"
              placeholder="Enter Category Title"
            />
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button type="button" class="btn btn-primary" (click)="addCategory()">
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>

<!-- Subcategory Modal -->
<div
  class="modal fade"
  id="SubCategoryUploadModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5
          class="modal-title text-center"
          id="exampleModalLabel"
          style="color: var(--theme-color); font-size: 24px; font-weight: 500"
        >
          Add a SubCategory
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="subcategoryForm">
          <div class="category-image" style="margin-bottom: 10px; border: none">
            <input
              class="form-control"
              type="file"
              formControlName="subcategoryImage"
              accept="image/*"
              (change)="selectImage($event)"
            />
          </div>
          <div class="category-title" style="margin-bottom: 15px">
            <input
              class="form-control"
              type="text"
              formControlName="subcategoryName"
              placeholder="Enter Subcategory Title"
            />
          </div>
          <!-- category select dropdown -->
          <div class="dropdown mt-10">
            <select class="form-control" (change)="selectCategory($event)">
              <option value="">Select a Category</option>
              <option
                *ngFor="let category of categories"
                value="{{ category.categoryName }}"
              >
                <p class="text-muted">{{ category.categoryName }}</p>
              </option>
            </select>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="addSubcategory()"
        >
          Save changes
        </button>
      </div>
    </div>
  </div>
</div>
