<footer style="">
  <div class="col-md-12">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-2 footer-item"><h3>Download App</h3></div>
      <div class="col-md-2 footer-item">
        <h3>Help & Customer Care</h3>
        <ul>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 footer-item">
        <h3>Customer Service</h3>
        <ul>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 footer-item">
        <h3>My Account</h3>
        <ul>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
          <li>
            <a>Item </a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 footer-item">
        <h3>Sign Up to Newsletter</h3>
      </div>

      <div class="col-md-1"></div>
    </div>
  </div>
</footer>
